{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
{% if 'angular' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
{% endif %}
{% if 'jquery' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container post">

    <article>
        <header>
            <h1>{{ article.title }}</h1>
            <time datetime="article.date.isoformat()" pubdate>{{ article.locale_date }}</time>
        </header>

        <div class="article_content">
            {{ article.content }}
        </div>

        <div class="meta">
            <div>
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
            <div>
                <a id="comments-button" class="comments_btn" href="#disqus_thread">Show comments</a>
            </div>
        </div>
    </article>
</div>

<script type="text/javascript">
(function () {
    'use strict';

    // Global object
    var App = {};

    // Create button
    App.commentsButton = document.getElementById('comments-button');

    App.commentsButton.onclick = function () {
        // Remove button action on click
        App.commentsButton.onclick = function () {
        }

        // Create comments container
        App.disqusContainer = document.createElement('div');
        App.disqusContainer.setAttribute('id', 'disqus_thread');
        // App.disqusContainer.setAttribute('class', 'container');

        // Append container to body or div
        // document.body.appendChild( App.disqusContainer );
        var container = document.getElementsByClassName('container post')[0];
        container.appendChild(App.disqusContainer);

        // Your Disqus shortname
        App.disqus_shortname = '{{ DISQUS_USERNAME }}';

        // Embed Disqus
        var dsq = document.createElement('script');

        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + App.disqus_shortname + '.disqus.com/embed.js';

        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

        window.scrollTo(0, dsq.offsetTop - 200);
    };
})();
</script>

</div>
{% endblock %}
