{{ define "body" }}

{{- partial "header.html" . -}}

<main class="container archive">

    <header>
        <h1 class="no-anchor">Blog</h1>
    </header>

    <nav>
        <table class="articles">
            <tbody>
                {{range .Site.RegularPages}}
                {{ if not .Params.hidden }}
                <tr>
                    <td class="date-col">
                        <span class="date">{{ .Date.Format "Jan 2006" }}</span>
                    </td>
                    <td class="title-col">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
    </nav>
</main>

{{ end }}
