[submodule "themes/middle"]
	path = themes/middle
	url = git://github.com/danielfrg/middle-theme.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
