{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
{% if 'jquery' in article.include %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endif %}
{% if 'vue' in article.include %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
{% endif %}
{% if 'angular1' in article.include %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
{% endif %}
{% endblock %}

{% block content %}
{% if article.category == "tech-notes" %}
{% include "article-tech-notes.html" %}
{% else %}
{% include "article-default.html" %}
{% endif %}
{% endblock %}
