<main role="main" class="container post">
    <article>
        <header>
            <section class="post-meta">
                <time datetime="article.date.isoformat()" pubdate>{{ article.locale_date }}</time>
                <span class="date-divider">/</span>
                {% for tag in article.tags[:1] %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </section>
            <h1>{{ article.title }}</h1>
        </header>

        <div class="article_content">
            {{ article.content }}
        </div>

        <div class="meta">
            <hr class="post-divider">
            <div>
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </article>
</main>
