<div class="container video-notes">
    <div class="row flex-xl-nowrap">
        
        <div class="col-12 col-md-3 col-xl-3 sidebar">
            <form class="search d-flex align-items-center">
                <span style="position: relative; display: inline-block; direction: ltr;">
                    <input type="search" class="form-control" id="search-input" placeholder="Filter... (coming soon)" autocomplete="off" spellcheck="false" role="combobox" dir="auto" style="position: relative; vertical-align: top;" />
                </span>
                <button id="btn-collapse" class="btn d-md-none" type="button" data-toggle="collapse" data-target="#video-notes-nav">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                </button>
            </form>
          
            <nav id="video-notes-nav" class="collapse">
                <ul class="nav sidenav">
                    {% for article in articles %}
                    {% if article.category == "video-notes" and article.title != "Video Notes" %}
                        <li><a href='/{{ article.url }}'>{{ article.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <main class="col-12 col-md-9 col-xl-9 content">
            <article>
                {% if article.video_id | length > 1 %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ article.video_id }}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                </div>
                {% endif %}
                <h1>{{ article.title }}</h1>
                {{ article.content }}
            </article>
        </main>
    </div>
</div>

<script>
$(document).ready(function () {

    $('#btn-collapse').on('click', function () {
        $('#video-notes-nav').toggleClass('show');
    });

});
</script>
