{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
{% if 'angular' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
{% endif %}
{% if 'jquery' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endif %}
{% if 'requirejs' in article.include %}
<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
{% endif %}
{% if 'bokeh' in article.include %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bokeh/0.12.7/bokeh.min.css"></script>
{% endif %}
{% endblock %}

{% block content %}
{% if article.category == "video-notes" %}
{% include "article-video-notes.html" %}
{% else %}
{% include "article-default.html" %}
{% endif %}
{% endblock %}
