<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="description" content="{% block description %}{%endblock%}">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %} | {{ SITENAME }}</title>
        <link rel="alternate" type="application/atom+xml" title="{{ SITENAME }} blog atom feed" href="/feeds/all.atom.xml" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <style>{% include 'pygments.css' %}</style>
        <style>{% include 'main.css' %}</style>
        
        <!-- <script src="https://vuejs.org/js/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        {% block extra_head %}{%endblock%}
    </head>

    <body>
        <header class="navbar navbar-expand navbar-dark">
            <div class="container flex-column flex-md-row bd-navbar">
                <a class="navbar-brand" href="/" title="Home" class="title">Daniel Rodriguez</a></li>
                
                <div class="navbar-nav-scroll">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item"><a class="nav-link" href="/video-notes/" title="About">Video Notes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/archives.html" title="Archive">Archive</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="{{ ABOUT_PAGE }}" title="About">About</a></li> -->
                    </ul>
                </div>

                <ul class="social navbar-nav flex-row ml-md-auto d-md-flex">
                    <li class="nav-item"><a class="nav-link social" href="https://github.com/danielfrg" title="danielfrg's Github" rel="me"><i class="fab fa-github"></i></a></li>
                    <li class="nav-item"><a class="nav-link social" href="https://twitter.com/danielfrg" title="@danielfrg Twitter" rel="me"><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link social" href="https://instagram.com/danielfrg2" title="danielfrg Instagram" rel="me"><i class="fab fa-instagram"></i></a></li>
                    <li class="nav-item"><a class="nav-link social" href="https://www.linkedin.com/in/danielfrg" title="Daniel Rodriguez LinkedIn" rel="me"><i class="fab fa-linkedin-in"></i></a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="/feeds/all.atom.xml" title="danielfrg.com RSS feed" rel="me"><i class="fas fa-rss"></i></a></li> -->
                </ul>
            </div>
        </header>

        {% block content %}{% endblock %}
        {% include 'analytics.html' %}
    </body>
</html>
