{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block headerimg %}{{ DEFAULT_HEADER_BG }}{% endblock %}

{% block content %}
<main role="main" class="container index">
    <div class="header-space"></div>
    {% for article in articles_page.object_list %}
            <article>
                <header>
                    <time datetime="" title="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
                    <h2><a href="{{ SITEURL }}/{{ article.url }}">
                        {% if article.category == "video-notes" %}
                        Notes for: {{ article.title }}
                        {% else %}
                        {{ article.title }}
                        {% endif %}
                    </a></h2>
                </header>

                <div class="article_content">
                    {{ article.summary }}
                </div>

                <div class="meta">
                    <div>
                        <a href="{{ SITEURL }}/{{ article.url }}" class="read_more">Read more &#8594;</a>
                    </div>
                </div>
            </article>
            <hr>
    {% endfor %}

    <nav class="pagination row">
        <div class="col-6 left">
            {% if articles_page.has_next() %}
            <a class="prev" href="{{ SITEURL }}/{{ articles_next_page.url }}">&#8592; Past</a>
            {% else %}
            &nbsp;
            {% endif %}
        </div>
        <div class="col-6 right">
            {% if articles_page.has_previous() %}
            <a class="next" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Future &#8594;</a>
            {% else %}
            &nbsp;
            {% endif %}
          </div>
    </nav>

</main>

{% endblock %}
