$text-color: #222;
$link-color: #007EFF;

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    color: $text-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-color;
    text-decoration: none;
}

header.main-header {
    background: none repeat scroll 0% 0% #2A66C0;
    margin-bottom: 0px;

    a {
        color: #fff;
    }

    .container {
        max-width: 1000px;

        nav {
            a:hover {
                background-color: #2A66C0;
            }
        }
    }
}

.container {
    width: 920px;

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin: 50px 0;
        padding: 0;
    }
}

article {
    margin: 0;

    header {
        margin: 20px 0;
        // padding-bottom: 20px;

        .post-meta {
            display: flex;
            justify-content: center;
        }
        
        h1 {
            margin: 0 0 0 0;
            font-weight: bold;
            color: #000;
            text-align: center;
            font-size: 4.2rem;
        }

        time {
            color: rgba(0,0,0,.65);
            font-size: 0.65em;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    p {
        // font-size: 18px;
        line-height: 1.6em;
        margin-bottom: 20px;
    }

    p.note {
      background: #f5f5f5;
      border: 1px solid #ddd;
      padding: 0.533em 0.733em;
      border-radius: 0;
    }

    p.update {
        background-color: #FEEFB3;
        border: 1px solid #e6e68a;
        padding: 0.533em 0.733em;
        border-radius: 0;
    }

    p.alert {
        background-color: #ffe2e2;
        border: 1px solid #ffb2b2;
        padding: 0.533em 0.733em;
        border-radius: 0;
    }

    i, cite, em, var, address, dfn {
        font-style: italic;
    }

    ul, ol {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    li {
        font-size: inherit;
        line-height: 1.6em;
    }

    a {
        color: $link-color;
        text-decoration: none;
        transition: border .15s cubic-bezier(.645,.045,.355,1);
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    a:hover {
        text-decoration: none;
        border-bottom: 1px solid $link-color;
    }

    blockquote {
        font-size: inherit;
        border-left: 2px solid #c7c7cc;
        color: #666;
        margin: 30px 0;
        padding: 0 0 0 25px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }

    code {
        color: #333;
        background-color: #EEE;
        border-radius: 0;
        font-size: 13px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin: 50px 0;
        padding: 0;
    }

    .codehilite {
        pre {
            border-radius: 0;  // Bootstrap reset
            background-color: #202020;
            color: #d0d0d0;

            code {
                border: none;
            }
        }

        pre.bash {
            background-color: #000;
            color: #FFF;
        }
    }

    .meta {
        font-size: 11px;

        a:hover {
            text-decoration: none;
        }

        div {
            margin-bottom: 20px;
            display: block;
        }

        a.tag {
            margin: 0 10px 10px 0;
            padding: 1px 12px;
            display: inline-block;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.6);;
            background: rgba(0, 0, 0, 0.05);
            border: 0;
        }

        a.tag:hover {
            background: rgba(0, 0, 0, 0.15);
            border: 0;
        }

        a.read_more, a.comments_btn {
            font-size: 14px;
            font-weight: 800;
            padding: 10px 20px;
            color: #007EE5;
            background: #FFF;
            border: 1px solid #007EE5;
        }

        a.read_more:hover, a.comments_btn:hover {
            color: #FFF;
            background: #007EE5;
        }
    }
}

.index {
    // max-width: 700px;

    article {
        header {
            h2 {
                font-size: 36px;
                margin: 0;
                font-weight: 700;

                a {
                    color: #000;
                    border: none;
                }

                a:hover {
                    color: $link-color;
                    text-decoration: none;
                    border: none;
                }
            }
        }
    }

    .pagination {
        display: block;
        margin-bottom: 100px;

        .left {
            text-align: right;
        }

        .right {
            text-align: left;
        }

        a {
            display: inline-block;
            border: 2px solid #007EE5;
            margin: 0 5px;
            padding: 8px 20px;
            font-weight: bold;
            color: #007EE5;
        }

        a:hover {
            color: #FFF;
            background: #007EE5;
        }
    }
}

.post {
    // max-width: 700px;

    h2, h3, h4 {
        // font-weight: bold;
        margin: 20px 0;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h2:before {
        content: "# ";
        font-weight: bold;
        color: #DDD;
    }

    h3:before {
        content: "## ";
        font-weight: bold;
        color: #DDD;
    }

    h4:before {
        content: "### ";
        font-weight: bold;
        color: #DDD;
    }

    article {
        .meta {
            margin: 50px 0 100px;
        }
    }
}

.list {
    max-width: 700px;

    ul.double-list {
        margin: 0 auto 60px;
        padding: 0;
        list-style-type: none;

        li {
            padding: 5px 0;

            h2 {
                font-size: 1em;
                display: inline;
                font-weight: normal;
            }

            span {
                font-family: sans-serif;
                text-transform: uppercase;
                text-align: right;
                float: right;
                padding-top: 3px;
                font-size: 12px;
                color: #999;
            }
        }
    }
}

.full-width-content {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -20px;
    margin-right: -20px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}
