---
import BaseHead from "../../components/global/BaseHead.astro";
import SiteFooter from "../../components/global/SiteFooter.astro";
import SiteHeader from "../../components/global/SiteHeader.astro";
import TwoColumnList from "../../components/grid/TwoColumnList.astro";

let title = "Daniel Rodriguez";
let description = "Un blog de Daniel Rodriguez";
let permalink = "https://danielfrg.com/";

// Data Fetching
let allPosts = await Astro.glob("../blog/**/*.md");
allPosts = allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.publishDate).valueOf() -
        new Date(a.frontmatter.publishDate).valueOf()
);
allPosts = allPosts.filter((post) => post.frontmatter.draft !== true);
---

<html lang="en">
    <head>
        <BaseHead
            title={title}
            description={description}
            permalink={permalink}
        />
    </head>

    <body>
        <div class="flex flex-col w-full">
            <SiteHeader />

            <div class="pt-12 pb-20 px-3">
                <TwoColumnList title="Articles" items={allPosts} />
            </div>

            <SiteFooter />
        </div>
    </body>
</html>
