---
import { getCollection } from 'astro:content';
import TwoColumnList from "../../components/grid/TwoColumnList.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from '../../consts';
import Page from '../../layouts/Page.astro';

let title = SITE_TITLE;
let description = SITE_DESCRIPTION;
let permalink = SITE_URL;

let allPosts = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
});

allPosts = allPosts .sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Page title={title} description={description} permalink={permalink}>
    <div class="pt-12 pb-20 px-3">
        <TwoColumnList title="Articles" posts={allPosts} />
    </div>
</Page>
