/* Theme reset: Links use whatever the theme does */

.notebook-content {
    --jp-content-font-family: var(--font-family);
    --jp-content-font-size1: 1.1rem;
    --jp-content-line-height: 1.5;
    --jp-content-font-color1: var(--color-txt--dark);
    --jp-content-link-color: var(--color-txt--action);
}

/* Remove duplicate anchor links since theme generates one */
.notebook-content .anchor-link {
    display: none;
}

/* JLab cursor is move by default */
.jp-Notebook .jp-Cell .jp-InputPrompt {
    cursor: unset;
}

/* Code in cells */
.highlight-ipynb {
    font-size: 1rem;
}
.highlight-ipynb pre {
    margin: 5px;
}

/* Cell overflow */
.jp-Cell-inputArea {
    width: 100%;
}
.jp-InputArea-editor {
    overflow: auto;
}

/* .jp-RenderedHTMLCommon a {
    color: inherit !important;
}

.jp-RenderedHTMLCommon :link {
    color: inherit !important;
}

.jp-RenderedHTMLCommon :visited {
    color: inherit !important;
} */

/* .jp-RenderedHTMLCommon {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
} */

/* .jp-RenderedHTMLCommon pre {
    background-color: #1a1a1a;
} */

/* Theme reset: Links use whatever the theme does */
/* pre code {
    background-color: inherit !important;
}

.highlight {
    color: #000000;
}

.highlight code {
    color: #000000;
}

.highlight .n {
    color: #333333;
}

.highlight .p {
    color: #000000;
}
*/

/* Removes left space on MD (text) cells so everything its aligned */
.jp-Cell-inputWrapper .jp-InputPrompt {
    display: none !important;
}

.jp-CodeCell .jp-Cell-inputWrapper .jp-InputPrompt {
    display: block !important;
}

/*
div.input_prompt {
    padding: 0.2em 0.4em;
}

div.output_prompt {
    padding: 0.4em;
}

.text_cell {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.text_cell_render {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.rendered_html * + p {
    margin-top: inherit !important;
}

.anchor-link {
    display: none !important;
}

.code_cell {
    margin: 0 !important;
    padding: 5px 0 !important;
    border: none !important;
}

div.input_area > div.highlight {
    margin: 0.25em 0.4em !important;
}

.code_cell pre {
    font-size: 12px !important;
}

.output_html table.dataframe {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.output_html table.dataframe th,
td {
    padding: 4px;
    text-align: left;
}
*/

.bk-plot-wrapper tbody tr {
    background: none !important;
}

.bk-plot-wrapper tbody tr:hover {
    background: none !important;
}
