$text-color: #202038;
$link-color: #1268da;
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-secondary: 'Proxima Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

html {
    position: relative;
    min-height: 100%;
    font-size: 100%;
}

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    font-family: $font-sans;
    color: $text-color;
    font-size: 1.05em;
    font-weight: 400;
    text-rendering: optimizelegibility;

    -webkit-font-smoothing: antialiased;
}

a {
    color: $link-color;
    // font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: auto !important;

    &:hover {
        color: #003ab7;
    }
}

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header.navbar  {
    margin: 0 0 0 0;
    padding: 2rem 0;
    position: relative;
    color: #666;
    font-family: $font-secondary;

    .container {
        max-width: 740px;
        padding: 0 20px;
    }

    a {
        color: #666;
        text-decoration: none;
    }

    a:hover {
        color: #1268da;
    }

    a.navbar-brand {
        color: #272c31;
        font-weight: 800;
        font-size: 2em;
        letter-spacing: -0.8px;
        padding: 0 0 0 0;
        margin: 0;
    }

    a.navbar-brand:hover {
        color: #272c31;
    }

    ul.navbar-nav {
        li {
            padding: 0 15px;

        }
        a.nav-link {
            // color: #666;
            // text-transform: uppercase;
            // font-size: 12px;
            letter-spacing: -.5px;
            padding: 0;
            border-bottom: 2px solid transparent;
        }

        a.nav-link:hover {
            border-bottom: 2px solid #1268da;
        }
    }
}

.index {
    max-width: 700px;
    margin: 0 auto;

    .apps {
        padding: 20px 0;

        img {
            width: 100%;
            height: 225px;
        }

        .card-link {
            margin-left: 0;
            font-size: 0.9em;
            text-decoration: none;
        }
    }
}

article {
    max-width: 800px;
    padding: 0 3.2rem 5em;
    margin: 0 auto;
    font-family: $font-secondary;

    h1, h2, h3, h4 {
        font-family: $font-secondary;
    }

    header {
        margin: 0 auto;
        padding: 2.6em 0;

        h1 {
            margin: 0.5em 0 0.5em;
            font-size: 3em;
            line-height: 1.1em;
            font-weight: 800;
        }
    }

    .metadata {
        font-size: 12px;
        font-weight: 300;
        color: #999;

        time {
            font-weight: 600;
        }

        .tags {
            padding: 10px 0 0;

            a {
                color: #999;
                font-weight: 600;
                text-decoration: none;
            }

            a:hover {
                color: #1268da;
                text-decoration: none;
            }
        }
    }

    h1 {
        font-size: 48px;
        font-weight: 400;
        line-height: 1.0;
        color: #202038;
        margin: .5em 0;
    }

    h2 {
        font-size: 34px;
        font-weight: 400;
        line-height: 1.09375;
        letter-spacing: .011em;
        margin: 56px 0 25px;
    }

    h3 {
        font-size: 26px;
        font-weight: 400;
        line-height: 1.20849;
        letter-spacing: .015em;
        margin: 35px 0 15px;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.20849;
        letter-spacing: .015em;
        margin: 35px 0 15px;
    }

    .anchorjs-link {
        margin-left: 10px;
        padding: 0 !important;
    }

    strong {
        font-weight: 700;
    }

    p {
        font-family: $font-sans;
        font-size: 1.0625rem;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 1.45rem;
    }

    p.subtitle, p.tldr {
        font-family: $font-sans;
        color: rgba(0, 0, 0, 0.54);
        font-size: 1.375rem;
        font-weight: 400;
        letter-spacing: .016em;
        line-height: 1.2;
        margin-top: -15px;
        margin-bottom: 30px;
    }

    p.note {
        color: $text-color;
        background: #f5f5f5;
        border: 1px solid #9a9aa2;
        padding: 0.8em 0.733em;
        border-radius: 3px;
    }

    p.warning, p.update {
        color: #694d11;
        background-color: #fbf8e5;
        border: 1px solid #b98921;
        padding: 0.8em 0.733em;
        border-radius: 3px;
    }

    p.alert {
        color: #712727;
        background-color: #ffe2e2;
        border: 1px solid #d21515;
        padding: 0.8em 0.733em;
        border-radius: 3px;
    }

    i, cite, em, var, address, dfn {
        font-style: italic;
    }

    ul, ol {
        margin-top: 0px 0 1.45rem;
        padding-left: 2rem;
        line-height: 1.45rem;
        list-style-position: outside;
    }

    li {
        font-family: $font-sans;
        font-size: 1.0625rem;
        line-height: 1.75rem;
        font-weight: 400;
        margin-bottom: 3px;
    }

    a.anchorjs-link {
        background: none;
    }

    hr {
        border-top: 1px solid #d6d6d6;
    }

    blockquote {
        font-size: inherit;
        border-left: 4px solid #e5e6eb;
        color: #666;
        font-style: italic;
        margin: 2em 0;
        padding: 0 0 0 25px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 95%;
    }

    figure {
        padding: 5px;
        background: #FFF;

        figcaption {
            padding-top: 5px;

            h4 {
                color: rgba(0,0,0,0.54);
                font-size: 15px;
                text-align: center;
                line-height: 1.52947;
                font-weight: 400;
                letter-spacing: -.021em;
                margin: 0 auto;
                max-width: 95%;
            }
        }
    }

    code {
        color: $text-color;
        background-color: rgba(0, 0, 0, .05);;
        font-size: 0.875rem;
        padding: 0.3em 0.625em;
        border-radius: 3px;
    }

    .video {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        margin-bottom: 1.444444444444445rem;

        iframe {
            position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;
        }
    }

    pre {
        border-radius: 3px;
        border: none;
        background-color: #1a1a1a;
        color: rgb(248, 248, 242);
        padding: 10px;
        padding: 20px 12px;
        position: relative;

        code {
            background: none;
            color: rgb(248, 248, 242);
            border: none;
            font-size: 0.875rem;
            padding: 0;
        }
    }

    pre.terminal {
        background: #1a1a1a;
        padding: 30px 12px 20px;

        code {
            color: #FFF;

            .dollar-sign {
                color: #aaa;
                user-select: none;
                padding-right: 6px;
            }
        }
    }

    pre.terminal::before {
        content: "\f120    terminal";
        font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 0.75rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid;
        padding: 3px 0 3px 5px;
        text-indent: 15px;
    }

    .read_more {
        padding-top: 1.5rem;
        margin-top: 2rem;

        a.link {
            font-size: 14px;
            font-weight: 800;
            padding: 10px 20px;
            color: #007EE5;
            background: #FFF;
            border: 1px solid #007EE5;
        }

        a.link:hover {
            color: #FFF;
            background: #007EE5;
        }
    }
}

.archive {
    max-width: 700px;
    font-weight: 400;
    padding: 0 0 5em;

    section#filtered_list {
        width: 100%;
    }

    form.filter {
        width: 100%;
        margin: 0 auto;

        input {
            font-size: 13px;
            margin: 10px 25px;
            width: 95%;
            height: 40px;
        }

        span {
            flex: 1;
        }
    }

    table.articles {
        width: 100%;
        margin: 0;
        padding: 0 0 30px 0;
        list-style-type: none;
        border-collapse: separate;
        border-spacing: 0px 5px;

        tr {
            margin: 8px 0;

            td.date-col {
                width: 60px;
                vertical-align: text-top;
                text-align: left;
            }

            td.title-col {
                padding-left: 5px;
            }
        }

        a {
            font-size: 16px;
            text-decoration: none;
        }

        span.date {
            font-family: sans-serif;
            text-transform: uppercase;
            font-size: 12px;
            color: #999;
        }
    }

    .tag-cloud {
        padding-bottom: 25px;
    }
}

.page404 {
    max-width: 650px;
    height: calc(100vh - 45px - 100px - 60px);

    .error-message {
        color: #202038;
        text-align: center;
    }

    .error-code {
        margin: 100px 0 10px;
        font-size: 12vw;
        line-height: 1em;
        letter-spacing: -5px;
        opacity: .3;
    }

    .error-description {
        margin: 0;
        font-size: 3rem;
        line-height: 1.3em;
        font-weight: 600;
    }

    .error-link {
        display: inline-block;
        margin-top: 5px;
    }
}

.footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;

    color: #999;
    font-size: 12px;
    font-weight: 300;
    line-height: 40px;
    text-decoration: none;
    text-align: center;

    .container {
        max-width: 860px;
    }

    a:hover {
        color: #333;
        text-decoration: underline;
    }
}
