$text-color: #202038;
$link-color: #1268da;

$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// Primer CSS
@import "./variables/typography.scss";
@import "./variables/colors.scss";
@import "./variables/layout.scss";
@import "./variables/misc.scss";
