:root {
    --font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --color-txt--action: rgb(3, 102, 214);
    --color-rgb--dark: rgb(27, 31, 35);
    --color-txt--subtle: rgb(35, 28, 51, 0.66);

    // GitHub Primer ones
    --color-border-secondary: #eaecef;
    --color-markdown-blockquote-border: #dfe2e5;
    --color-markdown-code-bg: rgb(27 31 35 / 5%);
}

html {
    position: relative;
    min-height: 100%;
    font-size: 100%;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--color-rgb--dark);
    font-size: 1em;
    font-weight: 400;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    color: var(--color-txt--action);

    &:hover {
        // Remove reset.css
        color: var(--color-txt--action);
    }
}

header.navbar {
    margin: 0 0 0 0;
    padding: 2rem 0 3rem;
    position: relative;
    color: #666;

    .container {
        max-width: 740px;
        padding: 0 20px;
    }

    a {
        color: #666;
        text-decoration: none;
    }

    a:hover {
        color: var(--color-txt--action);
    }

    a.navbar-brand {
        color: var(--color-rgb--dark);
        font-weight: 800;
        font-size: 1.9em;
        letter-spacing: -0px;
        padding: 0 0 0 0;
        margin: 0;
    }

    a.navbar-brand:hover {
        color: var(--color-rgb--dark);
    }

    ul.navbar-nav {
        li {
            padding: 0 15px;
        }
        a.nav-link {
            font-size: 14px;
            font-weight: 400;
            padding: 0 0 3px;
            border-bottom: 2px solid transparent;
        }

        a.nav-link:hover {
            border-bottom: 2px solid var(--color-txt--action);
        }
    }
}

footer.site-footer {
    padding: 10px 0 20px;
    margin-top: 100px;
    color: var(--color-txt--subtle);
    font-size: 0.85em;

    .container {
        max-width: 704px;
    }

    a {
        color: var(--color-txt--subtle);

        &:hover {
            text-decoration: underline;
        }
    }
}
