.index {
    max-width: 704px;
    margin: 0 auto;

    h2 {
        margin-top: 0px;
        padding-bottom: 0;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }
}

.box-grid {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 30px;

    @media (min-width: 576px) {
        flex-direction: row;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px;
        border: 1px solid #ccc;

        @media (min-width: 576px) {
            width: 330px;
        }

        img {
            width: 100%;
            height: auto;
            image-rendering: crisp-edges;
        }

        .body {
            flex: 1 1 auto;
            padding: 1.25rem;
        }

        a {
            margin-left: 0;
            font-size: 0.9em;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .noborder {
        border: none;
    }
}
