@import "tailwindcss";

@config '../../tailwind.config.cjs';

@theme {
  --font-sans: "Inter", "sans-serif";
}

.prose {
  pre {
    border-radius: 0;
    /* background: transparent !important; */
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    font-size: 0.95rem !important;
    margin: 40px 0;
    overflow: auto;
    padding: 20px 10px;

    code {
      background: transparent;
      margin: 0;
      padding: 0;
    }
  }

  code {
    font-feature-settings: normal;
    background: #333333;
    color: #ffa86a;
    color: var(--accent);
    margin: 0 2px;
    padding: 1px 6px;
    font-weight: normal;

    &:before {
      content: "";
    }
    &:after {
      content: "";
    }
  }

  .gray_background {
    background: rgb(235, 236, 237);
  }
  .brown_background {
    background: rgb(233, 229, 227);
  }
  .orange_background {
    background: rgb(250, 235, 221);
  }
  .yellow_background {
    background: rgb(251, 243, 219);
  }
  .teal_background {
    background: rgb(221, 237, 234);
  }
  .blue_background {
    background: rgb(221, 235, 241);
  }
  .purple_background {
    background: rgb(234, 228, 242);
  }
  .pink_background {
    background: rgb(244, 223, 235);
  }
  .red_background {
    background: rgb(251, 228, 228);
  }

  .filename {
    background-color: #000 !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* border-bottom: 2px solid red; */
    color: #fff !important;
    margin-bottom: -11px;
    padding: 0 10px;
    z-index: 10;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.25;
  }
}

.appear {
  animation: fadeIn 1.5s ease-in-out;
}
