body {
    background-color: #F8F8F8;
    /* -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; */
}

.prose {
    .gray_background {
        background: rgb(235, 236, 237);
    }
    .brown_background {
        background: rgb(233, 229, 227);
    }
    .orange_background {
        background: rgb(250, 235, 221);
    }
    .yellow_background {
        background: rgb(251, 243, 219);
    }
    .teal_background {
        background: rgb(221, 237, 234);
    }
    .blue_background {
        background: rgb(221, 235, 241);
    }
    .purple_background {
        background: rgb(234, 228, 242);
    }
    .pink_background {
        background: rgb(244, 223, 235);
    }
    .red_background {
        background: rgb(251, 228, 228);
    }

    .filename {
        background-color: #000 !important;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        /* border-bottom: 2px solid red; */
        color: #fff !important;
        margin-bottom: -11px;
        padding: 0 10px;
        z-index: 10;
    }
}

.slice {
    background-image: url(/images/blogpost-shadow-radial-reverse.png), url(/images/blogpost-gradient-bottom.png);
    background-position: 50% 100%,50% 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/assets/fonts/founders-grotesk/FoundersGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk';
    src: url('/assets/fonts/founders-grotesk/FoundersGrotesk-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk';
    src: url('/assets/fonts/founders-grotesk/FoundersGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Founders Grotesk';
    src: url('/assets/fonts/founders-grotesk/FoundersGrotesk-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('/assets/fonts/founders-grotesk/FoundersGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Founders Grotesk';
  src: url('/assets/fonts/founders-grotesk/FoundersGrotesk-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Founders Grotesk Cond';
  src: url('/assets/fonts/founders-grotesk/FoundersGroteskCond-Reg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Founders Grotesk Cond';
  src: url('/assets/fonts/founders-grotesk/FoundersGroteskCond-SmBd.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Founders Grotesk Cond';
  src: url('/assets/fonts/founders-grotesk/FoundersGroteskCond-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
