{{ block "html" . }}{{ end }}

{{ define "title" }}
{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}
{{ end }}

{{ define "description" }}
Daniel Rodriguez data science website, blog and apps.
{{ end }}

{{ define "html" }}
<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    
    <body>
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" }}

        {{ block "before_body_end" . }}{{ end }}
        {{ partial "analytics.html" . }}
    </body>
</html>
{{ end }}
