{{ define "main" }}

<main role="main" class="article container">
    <article>
        <header>
            <h1>{{ .Title }}</h1>
            <span class="metadata">Posted on <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>{{ .Date.Format "Jan 02, 2006" }}</time></span>
        </header>

        <div class="content">
            {{ .Content }}
        </div>

        <div class="metadata">
            <div class="tags">
                Tagged &nbsp;
                {{ with .Params.tags }}
                    {{ range $i, $e := . }}{{ if $i }}, {{ end }}<a href="{{ "tags/" | absURL }}{{ $e | urlize }}" rel="tag">{{ $e }}</a>{{ end }}
                {{ end }}
                <!-- Posted in {{ delimit .Params.tags ", " ", and" }} -->
            </div>
        </div>
    </article>
</main>

{{ end }}
