{{ define "main" }}

<main role="main" class="article container">
    <article>
        <header>
            <section class="post-meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>{{ .Date.Format "January 02, 2006" }}</time>
                <span class="date-divider">/</span>
                {{ range $k, $v := first 1 .Params.Tags }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </section>
            <h1>{{ .Title }}</h1>
        </header>

        <div class="content">
            {{ .Content }}
        </div>

        <div class="metabox">
            <hr class="post-divider">
            <div class="tags">
                {{ range $k, $v := .Params.Tags }}
                <a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
        </div>
    </article>
</main>

{{ end }}


{{ define "extra_includes" }}

{{ range .Params.include }}
    
    {{ if eq . "jquery" }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{ else if eq . "requirejs" }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
    {{ else if eq . "vuejs" }}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    {{ else if eq . "angular1" }}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    {{ end }}

{{ end }}

{{ end }}
