{{ define "main" }}

<main role="main" class="article container">
    <article>
        <header>
            <h1>{{ .Title }}</h1>
        </header>

        <div class="content">
            {{ .Content }}
        </div>

        <div class="metabox">
            <div class="tags">
                {{ range $k, $v := .Params.Tags }}
                <a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
            <p class="date">
                <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>{{ .Date.Format "Jan 02, 2006" }}</time>
            </p>
        </div>
    </article>
</main>

{{ end }}
