.feature-grid {
    margin-bottom: 50px;

    h2.title {
        margin: 0 auto 30px;
        padding-bottom: 0;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .MuiCardMedia-root {
        height: 250px;
    }

    .MuiCardActions-root {
        display: block;
        padding: 8px 15px 20px;
        text-align: center;

        .MuiLink-root {
            margin: 0 8px;
        }
    }

    .secondary-list {
        margin-top: 25px;

        .secondary-item {
            margin: 10px 0;
        }
    }
}
