:root {
    // TODO: Maybe remove this vars and move everything to the theme.js
    --font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --color-rgb--dark: rgb(27, 31, 35);
    --color-txt--action: rgb(3, 102, 214);
    --color-txt--subtle: rgb(35, 28, 51, 0.66);
    --color-bg-tertiary: #f6f8fa;

    // GitHub Primer copy
    --color-border-secondary: #eaecef;
    --color-markdown-blockquote-border: #dfe2e5;
    --color-markdown-code-bg: rgb(27 31 35 / 5%);
}

a {
    color: var(--color-txt--action);
    text-decoration: none;

    &:hover {
        // Remove reset.css
        color: var(--color-txt--action);
        text-decoration: underline;
    }
}

header.navbar {
    margin: 0 0 0 0;
    padding: 2rem 0 3rem;

    .MuiContainer-maxWidthMd {
        max-width: 700px;
    }

    a.navbar-brand {
        padding: 0 0 0 0;
        margin: 0;
        color: rgb(27, 31, 35);
        font-weight: 800;
        font-size: 2.2em;
        letter-spacing: -0.2px;
        text-decoration: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        // padding-left: 0;
        // margin-bottom: 0;
        list-style: none;
        margin-left: auto !important;

        li {
            padding: 0 15px;
        }

        a.nav-link {
            font-size: 14px;
            font-weight: 400;
            padding: 0 0 3px;
            border-bottom: 2px solid transparent;
            color: #666;
            text-decoration: none;
        }

        a.nav-link:hover {
            color: var(--color-txt--action);
            border-bottom: 2px solid var(--color-txt--action);
        }
    }
}

footer.site-footer {
    padding: 10px 0 20px;
    margin-top: 100px;
    color: var(--color-txt--subtle);
    font-size: 0.85em;

    .container {
        max-width: 704px;
    }

    a.nav-link {
        color: var(--color-txt--subtle);
        text-decoration: none;
        margin: 0 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.index {
    max-width: 700px;
    margin: 0 auto;
}

.justify-content-center {
    text-align: center;
    justify-content: center !important;
}

@import "./double-list.scss";
@import "./feature-grid.scss";
@import "./post-body.scss";
@import "./posts-grid.scss";
