<header class="navbar navbar-expand">
    <div class="container flex-column flex-md-row bd-navbar">
        <a class="navbar-brand" href="/" title="Home" class="title">{{ .Site.Title }}</a></li>

        <ul class="social navbar-nav flex-row ml-md-auto d-md-flex">
            {{ range $.Site.Menus.header }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .URL }}" title="{{- .Title -}}" rel="me">{{- .Name -}}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</header>

