{{ $css_classes := ""}}
{{ if not (.context.Param "feature_image") }}
{{ $css_classes = (printf "%s %s" $css_classes "no-image") }}
{{ end }}
{{ if (eq (.index) 0) }}
{{ $css_classes = printf "%s %s" $css_classes "post-card-large" }}
{{ end }}

<article class="post-card{{ $css_classes }}">

    <a class="post-card-link-wrapper" href="{{ .context.Permalink }}">
        {{ if .context.Param "feature_image" }}
        <img class="post-card-image"src="{{ .context.Param "feature_image" }}" alt="{{ .context.Title }}"/>
        {{ end }}

        <div class="post-card-content">
            <header class="post-card-header">
                <h2 class="post-card-title">{{ .context.Title }}</h2>
            </header>

            <section class="post-card-excerpt">
                <p>{{ .context.Summary }}</p>
            </section>
        </div>
    </a>

</article>
