---
import Prose from "@layouts/Prose.astro";
import SocialLinks from "@components/SocialLinks.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from "../lib/consts";

let title = `About - ${SITE_TITLE}`;
let description = SITE_DESCRIPTION;
let permalink = SITE_URL;
---

<Prose title={title} description={description} permalink={permalink}>
  <div class="flex flex-row gap-8 md:p-8">
    <div class="flex-col my-auto">
      <p class="text-4xl font-bold tracking-tighter">
         Engineer focused on building data tools for developers.
      </p>
    </div>
    <img
      class="w-1/2 object-cover transform rotate-3 rounded-md"
      src="/images/profile.jpeg"
      alt="profile"
      width="512"
      height="512"
    />
  </div>
  <div class="text-xl leading-relaxed">
    <p class="">
      I work as a Product Manager for CUDA Python at NVIDIA.
    </p>
    <p class="">
    I created
            <a
              href="https://lapalabradeldia.com"
              class="font-bold text-lapalabragreen! hover:underline"
              target="_blank">La Palabra del día</a
            >
            and I build many other apps at <a href="https://inmatura.com">Inmatura</a>.
  </p>
  <p class="">
  I have worked in the data science / machine learning / data engineering / AI space
  for over 13 years as an engineer, devops, product manager, sales.
  </p>
  <p class="">
   I have <a href="/content">written and recoded some content</a> and <a href="/projects">built many projects</a>.
  </p>
  </div>

  <SocialLinks />
</Prose>
