---
import Prose from "@layouts/Prose.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_URL } from '../lib/consts';

let title = `Now - ${SITE_TITLE}`;
let description = SITE_DESCRIPTION;
let permalink = SITE_URL;

---

<Prose title={title} description={description} permalink={permalink}>
    <h2 class="text-center mb-10 text-4xl md:text-6xl font-bold mt-0" >Now</h2>
    <p class="text-xl">
        Right now, I am currently:
        <ul class="text-xl">
        <li>
        Working at <a href="https://www.nvidia.com/">NVIDIA</a> as a Senior Product Manager for Python and CUDA
        </li>
        <li>
        Occasionally building apps at <a href="https://inmatura.com">Inmatura</a>
        </li>
        </ul>
    </p>
    <p>
    Updated April 15, 2024
    </p>
</Prose>
