<header class="navbar navbar-expand">
    <div class="container flex-column flex-md-row bd-navbar">
        <a class="navbar-brand" href="/" title="Home" class="title">Extrapolations</a></li>

        <ul class="social navbar-nav flex-row ml-md-auto d-md-flex">
            <li class="nav-item"><a class="nav-link" href="/" title="Home" rel="me">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/danielfrg" title="danielfrg's Github" rel="me">Github</a></li>
            <li class="nav-item"><a class="nav-link" href="https://twitter.com/danielfrg" title="@danielfrg Twitter" rel="me">Twitter</a></li>
            <li class="nav-item"><a class="nav-link" href="https://instagram.com/danielfrg2" title="danielfrg Instagram" rel="me">Instagram</a></li>
            <!-- <li class="nav-item"><a class="nav-link social" href="https://github.com/danielfrg" title="danielfrg's Github" rel="me">Home</a></li>
            <li class="nav-item"><a class="nav-link social" href="https://twitter.com/danielfrg" title="@danielfrg Twitter" rel="me"><i class="fab fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link social" href="https://instagram.com/danielfrg2" title="danielfrg Instagram" rel="me"><i class="fab fa-instagram"></i></a></li>
            <li class="nav-item"><a class="nav-link social" href="https://www.linkedin.com/in/danielfrg" title="Daniel Rodriguez LinkedIn" rel="me"><i class="fab fa-linkedin-in"></i></a></li> -->
        </ul>
    </div>
</header>
