<section id="filtered_list">
    <form class="filter d-flex align-items-center">
        <span style="position: relative; display: inline-block; direction: ltr;">
            <input type="search" v-model="filter" class="form-control" placeholder="Filter by title or tag" autocomplete="off" spellcheck="false" />
        </span>
    </form>
    
    <nav>
        <ul class="double-list">
            <li v-for="item in filteredItems">
                <a :href="item.url">{{ "{{ item.title }}" }}</a>
                <span class="date">{{ "{{ item.date }}" }}</span>
            </li>
        </ul>
    </nav>
</section>

<script>
    items = [
        {{ range (.Pages.ByDate).Reverse }}
            {
                title: '{{ .Title }}',
                url: '{{ .RelPermalink }}',
                date: '{{ .Date.Format "01/2006" }}',
                tags: [
                    {{ range .Params.Tags }}
                    '{{ . }}',
                    {{ end }}
                ]
            },
        {{ end }}
    ]
    function contains(text, filter) {
        return text.toLowerCase().indexOf(filter.toLowerCase()) > -1
    }
    var index = new Vue({
        el: '#filtered_list',
        data: {
            filter: '',
            items: items
        },
        methods: {
            toogle_nav: function(event) {
                this.show = !this.show;
            }
        },
        computed: {
            filteredItems() {
                return this.items.filter(item => {
                    searches = [item.title].concat(item.tags);
                    query = searches.map(x => contains(x, this.filter));
                    return query.some(x => x == true);
                })
            }
        }
    })
</script>
