<main class="posts">

{{ range .Pages }}
{{ with .Description }}
    {{ $.Scratch.Set "summary" (markdownify .) }}
{{ else }}
    {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>.*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
{{ end }}

<article>
    <header class="entry-header">
        <h2 class="no-anchor"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <span class="metadata">Posted on <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>{{ .Date.Format "Jan 02, 2006" }}</time>
        </span>
            <!-- <div class="entry-meta">
                <span class="posted-on">Posted on <a href="https://obviedades.com/tumblr-automattic" rel="bookmark"><time class="entry-date published" datetime="2019-08-13T10:36:50+02:00">13 agosto, 2019</time><time class="updated" datetime="2019-08-13T16:44:29+02:00">13 agosto, 2019</time></a></span><span class="byline"> by <span class="author vcard"><a class="url fn n" href="https://obviedades.com/perfil/manu">Manu</a></span></span>
            </div> -->
    </header>
</article>
{{ end }}

</main>
