---
import { SITE_TITLE } from '../../consts';

export interface Props {
    title?: string;
    nav?: object[];
    dark?: boolean;
}

const title = SITE_TITLE;

const nav = [
    { text: "About", href: "/about" },
    { text: "Blog", href: "/blog" },
    { text: "Projects", href: "/projects" },
    { text: "GitHub", href: "https://github.com/danielfrg" },
];
---

<header
    class="container max-w-screen-md flex flex-col md:flex-row gap-4 md:gap-0 mx-auto p-4"
>
    <div class="flex-1 text-center md:text-left">
        <a
            href="/"
            class="text-3xl font-extrabold tracking-tighter bg-clip-text bg-gradient-to-r from-myorange to-mypink text-transparent border-0 hover:border-b-2 border-myorange"
        >
            {title}
        </a>
    </div>

    <div class="flex flex-row justify-center items-end">
        {
            nav?.map((item) => (
                <a
                    href={item.href}
                    class="hover:text-myorange font-bold border-b-0 text-lg lg:px-6 px-2 md:pl-0 md:pr-4 py-2 text-center"
                >
                    {item.text}
                </a>
            ))
        }
    </div>
</header>
