{{ define "main" }}

<main class="page404 container">
    <div class="gif" style="width:100%;height:0;padding-bottom:25%;position:relative;"><iframe src="https://giphy.com/embed/wHwSMFiV8b9sc" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    <section class="error-message">
        <h1 class="error-code">404</h1>
        <p class="error-description">Sorry, page not found :(</p>
        <a class="error-link" href="/">Go to the front page &#8594;</a>
    </section>
</main>

{{ end }}
