{{ define "main" }}

<main class="index container">
    
    <div class="row apps">
        <div class="col-md-6">
            <div class="card mb-6 shadow-sm">
                <a href="http://word2vec.danielfrg.com"><img class="app" src="/images/word2vec.png"></a>
                <!-- <img class="app" src="/images/word2vec.png" height="225"> -->
                <div class="card-body">
                <p class="card-text">word2vec prediction app powered by Algorithmia.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <a class="btn btn-sm btn-outline-secondary" href="http://word2vec.danielfrg.com">View</a>
                    <a class="btn btn-sm btn-outline-secondary" href="/blog/2018/09/word2vec-app-algorithmia/">Read blogpost</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row articles archive">
        <h1>Articles</h1>
        {{ partial "list_filter.html" . }}
    </div>

    <!-- <div class="row articles">
        <h1>Latest articles<a class="view-all" href="/archive/">view all</a></h1>
            
        </span>
        <ul>
        {{ range first 10 (.Pages.ByDate).Reverse }}
            <li><h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2></li>
        {{ end }}
        </ul>
    </div> -->
</main>

{{ end }}
