{{ define "main" }}

<main class="index container">

    <div class="row apps">
        <div class="col-md-6">
            <div class="card mb-6">
                <a href="http://word2vec.danielfrg.com"><img class="app" alt="word2vec app" src="/images/word2vec.png"></a>
                <div class="card-body">
                    <p class="card-text">word2vec prediction app powered by Algorithmia.</p>
                    <div class="text-center">
                        <a class="card-link" href="http://word2vec.danielfrg.com">Go to app</a> |
                        <a class="card-link" href="/blog/2018/09/word2vec-app-algorithmia/">Read blogpost</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row archive">
        <h2>Articles</h2>
        {{ partial "list_filter.html" . }}
    </div>

</main>

{{ end }}
