---
import Base from "./Base.astro";

const { title, description, permalink } = Astro.props;
---

<Base title={title} description={description} permalink={permalink}>
  <div class="max-w-(--breakpoint-md) px-3 grow prose mx-auto prose-invert">
    <slot />
  </div>
</Base>
