---
import BaseHead from "@components/common/BaseHead.astro";

const { title, description, permalink } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead
            title={title}
            description={description}
            permalink={permalink}
        />
    </head>

    <body>
        <div class="flex flex-col w-full min-h-screen">
            <slot />
        </div>
    </body>
</html>
